@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a {
    color: #00325e;
    text-decoration: none;
    margin-left: 4rem;
}

a:hover {
    color: #2079c7;
}

#cv-wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(242, 239, 239);
}

.sub-heading {
    color: #2079c7;
    font-size: 2.1rem;
}

#header {
    background-color: #024077;
    color: white;
    padding: 3rem 3.3rem;
    line-height: 3.2rem;
}
#header h1 {
 font-size: 3.5rem;
 letter-spacing: .4rem;
}
#header p {
 font-size: 1.5rem;
}
#skills {
    background-color: #00325e;
    color: white;
    padding: 6rem;
    line-height: 3rem;
}

#skills li {
    margin-left: 3rem;
    
}

#email-link a{
    color:white;
    margin-left: 0;
}
#email-link a:hover{
    color:#2079c7
}

.skills--link {
    list-style: none;
}
.skills--link a {
    color: white;
    text-decoration: none;
    margin-left:-2rem;
}
.skills--link a:hover {
    color: #2079c7;
    text-decoration: none;
    margin-left:-3rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.soft-skills {
    margin-top: 4.5rem;
}
#skills h2 {
    padding: 2rem 0;
    margin-left: -2rem;
}
nav h2 {
    margin-top: -4rem;
}

#content {
    margin-left: 3rem;
    padding: 1.5rem ;
    text-align: justify;
}

#content h2 {
    padding: 0.9rem 0;
}

h3 {
    color: #00325e;
    padding: 1rem 0 ;
}

.sub-titles {
    padding: 1rem;
    color: white;
}

#content p {
    line-height: 2rem;
}

#travel {
    padding-top: 6rem;
}
